@import '_reset'
@import '_fontawesome'
@import '_font'
@import '_var'
@import '_mixin'

// hack away

html, body
	background: $white
	height: 100%
	width: 100%
	font-family: $regular

.logo
	position: relative
	display: block
	margin: 20px auto
	width: 200px

.hidden
	display: none

.container
	width: 1170px
	margin: 0 auto
	display: block
	&.chat-contain
		width: 100%
		height: 100%

.user-content
	width: 300px
	height: 300px
	background: green
	float: left
	margin: 45px
	position: relative
	overflow: hidden
	img
		position: absolute
		top: 0
		left: 0
	span 
		background: $blue
		position: absolute
		width: 100%
		height: 30%
		top: 100%
		z-index: 999
		transition-property: all
		transition-duration: .5s
		transition-timing-function: cubic-bezier(0, 1, 0.5, 1)
	&:hover 
		span 
			top: 70%

ul.thumb
	list-style: none
	padding: 10px 0
	width: 100%
	overflow: auto
	li
		cursor: pointer
		width: 300px
		height: 300px
		background: $orange
		float: left
		margin: 45px
		position: relative
		overflow: hidden



// chat

span.helv
	font-family: $regreg

ul#conversationTranscript
	// margin: -14px 0 0 0 
	padding: 10px 14px
	list-style: none
	li
		font-family: $regreg
		font-weight: 300
		&.normal
			color: black
		&.transcribed
			color: $blue

.chat-parent
	height: 100%
	width: 100%
.chat
	position: relative
	height: 100%
	width: 100%
	.recipient
		position: relative
		height: $recipient
		width: 100%
		background: $darkblue
		.drawer
			width: 100px
			background: $blue
			position: absolute
			height: 100%
			top: 0
			right: 0
			-webkit-box-shadow: -2px 0px 5px -2px rgba(0,0,0,0.6)
			-moz-box-shadow: -2px 0px 5px -2px rgba(0,0,0,0.6)
			box-shadow: -2px 0px 5px -2px rgba(0,0,0,0.6)
			z-index: 3
		.pHandle
			@include transition(all, 0.1s, ease-in-out, 0s)
			position: absolute
			width: 36px
			height: 110px
			right: 94px
			z-index: 0
			top: 50%
			margin-top: -55px
			background: $blue
			-webkit-box-shadow: -2px 0px 5px -2px rgba(0,0,0,0.6)
			-moz-box-shadow: -2px 0px 5px -2px rgba(0,0,0,0.6)
			box-shadow: -2px 0px 5px -2px rgba(0,0,0,0.6)
			opacity: 0.6
			&::before
				position: absolute
				content: ''
				height: 0
				width: 0
				border: 38px solid transparent
				border-left: 11px solid #A69972
				top: 17px
				left: 9px
			&:hover
				cursor: pointer
				@include opacity(1)
				-webkit-transform: translateX(-6px)


		.videoPublish
			width: 100% !important
			height: 100% !important
			max-width: 100% !important
			max-height: 100% !important
			.OT_video-container
				width: auto !important
				left: 50% !important
				-webkit-transform: translateX(-50%) !important
		.viewer
			position: absolute
			height: 140px
			width: 190px
			bottom: 0 !important
			left: 0
			background: $blue

.text-area
	position: relative
	width: 100%
	height: $text
	background: #fff
	.text-history
		height: 100%
		padding-right: 100px
		h3
			display: inline-block
			padding: 0px 10px
			margin-top: 10px
			color: $orange
	.text-submit
		position: absolute
		width: 100%
		height: 30px
		bottom: 0
		border-top: 2px solid $blue
		overflow: hidden
		padding-right: 116px
		// padding: 14px 8px
		box-sizing: border-box
		textarea
			width: 100%
			height: 14px
			resize: none
			padding: 8px
			// overflow-y: hidden !important
			border: none
			outline: none
			@include transition(height, 0.1s, ease-in-out, 0s)
	.text-button
		@include transition(background, 0.1s, ease-in-out, 0s)
		position: absolute
		height: 100%
		width: 100px
		right: 0
		top: 0
		background: $white
		color: $blue
		text-align: center
		&:hover
			cursor: pointer
			background: $orange
		.button-content
			@include vertical-align
			.fa
				transform: rotate(180deg)
				-webkit-transform: rotate(180deg)
				-moz-transform: rotate(180deg)
				-o-transform: rotate(180deg)
				-ms-transform: rotate(180deg)



// jquery ui port
.ui-resizable
	position: relative

.ui-resizable-handle
	position: absolute
	font-size: 0.1px
	display: block
	-ms-touch-action: none
	touch-action: none

.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle
	display: none

.ui-resizable-n
	cursor: n-resize
	height: 7px
	width: 100%
	top: -5px
	left: 0
	.viewer &
		cursor: row-resize !important

.ui-resizable-s
	cursor: s-resize
	height: 7px
	width: 100%
	bottom: -5px
	left: 0
	.viewer &
		display: none !important
	.recipient &
		cursor: row-resize !important

.ui-resizable-e
	cursor: e-resize
	width: 7px
	right: -5px
	top: 0
	height: 100%
	.viewer &
		cursor: col-resize !important

.ui-resizable-w
	cursor: w-resize
	width: 7px
	left: -5px
	top: 0
	height: 100%

.ui-resizable-se
	cursor: se-resize
	width: 12px
	height: 12px
	right: 1px
	bottom: 1px
	.viewer &
		display: none !important

.ui-resizable-sw
	cursor: sw-resize
	width: 9px
	height: 9px
	left: -5px
	bottom: -5px

.ui-resizable-nw
	cursor: nw-resize
	width: 9px
	height: 9px
	left: -5px
	top: -5px

.ui-resizable-ne
	cursor: ne-resize
	width: 9px
	height: 9px
	right: -5px
	top: -5px 


// coming soon
.coming
	width: 400px
	margin: 200px auto
	p
		text-align: justify
	a
		text-decoration: none
		color: $orange
		&:hover
			color: $yellow
