@import '_reset'
@import '_fontawesome'
@import '_font'
@import '_var'
@import '_mixin'

// hack away

body
	background: $blue
	height: 100%
	width: 100%
	font-family: $regular

.logo
	position: relative
	height: 130px
	width: 130px



// misc
.hidden
	display: none
